absl-py==1.0.0
astor==0.8.1
attrs==21.3.0
cached-property==1.5.2
fitipy==0.1.2
gast==0.5.3
grpcio==1.43.0
h5py==2.10.0
importlib-metadata==4.10.0
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.6
mock==4.0.3
-e git+https://github.com/secretsauceai/precise-wakeword-model-maker.git@e1a635e9675047eb86f64ca489a1b941321c489a#egg=mycroft_precise
numpy==1.16.0
pocketsphinx==0.1.15
-e git+https://github.com/secretsauceai/precise-wakeword-model-maker.git@e1a635e9675047eb86f64ca489a1b941321c489a#egg=precise_runner&subdirectory=runner
prettyparse==1.2.0
protobuf==3.19.1
pyache==0.2.0
PyAudio==0.2.11
pydub==0.25.1
PyYAML==6.0
scipy==1.5.4
six==1.16.0
sonopy==0.1.2
speechpy-fast==2.4
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
typing==3.7.4.3
typing_extensions==4.0.1
wavio==0.0.4
Werkzeug==2.0.2
zipp==3.6.0
